body {
  background: black;
  color: white;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}


#logos {
  margin-top: 2vh;
  text-align: right;

  img {
    width: 100px;
  }

  .github-icon {
    margin-left: 3%;
    font-size: 50px;
    color: white;
  }

  .github-icon:hover {
    animation:spin 2s linear forwards;
  }
}

#choose-platform {
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  margin-top: 2%;
  margin-bottom: 2%;
}

#platforms {
  text-align: center;
  font-size: 5rem;

  .youtube-icon {
    color: #FF0000;
  }

  .facebook-icon {
    color: #4267B2;
  }

  .twitter-icon {
    color: #1DA1F2;
  }

  .icon-div {
    background: white;
    border-radius: 5%;
    width: 70%;

    margin-left: auto;
    margin-right: auto;

    padding-bottom: 3%;
    margin-bottom: 3%;

    div {
      font-size: 1.5rem;
      color: black;
      font-weight: bolder;
    }
  }

  .icon-div:hover {
    border: 5px solid orangered;
    margin-bottom: calc(3% - 10px);
    border-radius: 5%;
    cursor: pointer;
  }
}

#enter-name {
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  margin-top: 10%;
}

#search {
  text-align: center;
  margin: 5% auto;
  font-size: 2rem;

  input {
    background: black;
    color: white;
    padding-left: 1%;
    border: white dotted;
    overflow: hidden;
  }
  
  @media only screen and (max-width: 800px)  {
    input {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

#predict-div {
  text-align: center;
  margin-top: 2%;

  #predict-button {
    background: black;
    width: 100%;
    color: #660000;
    border: #660000 solid 5px;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  #predict-button:hover {
    background: #660000;
    color: white;
  }
}